.calculator {
    background-color: #7c7c7d;
    margin: auto;
    width: 500px;
    border-color: rgb(251, 250, 255);
    border-radius: 20px;
    border-width: 5px;
    border-style: double;


    background-color: #7c7c7d;;
    background-image: repeating-linear-gradient(10deg,
            transparent,
            transparent 20px,
            #636363 20px,
            #7c7c7d 23px);
}

.displayResult {
    font-size: 200%;
    padding: 10px;
    background: #ddd;
    margin-bottom: 10px;
    margin-top: 20px;
}


button {
    font-size: 300%;
    padding: 30%;
}
