<h1>Forms</h1>
<div class="forms">
    <form (ngSubmit)="onSubmit(forms1)" #forms1="ngForm">
        <!--First name-->
        <mat-form-field>
            <input matInput placeholder="First name" name="firstName" [(ngModel)]="person.firstName" #fname="ngModel"
                required minlength="2" pattern="^[a-öA-Ö]*$">
            <mat-error *ngIf="fname.hasError('required')">Enter your first name</mat-error>
            <mat-error *ngIf="fname.hasError('minlength')">Minimum 2 characters required</mat-error>
            <mat-error *ngIf="fname.hasError('pattern')">Must be valid name</mat-error>
        </mat-form-field>
        <p></p>
        <!--Last name-->
        <mat-form-field>
            <input matInput placeholder="Last name" name="lastName" [(ngModel)]="person.lastName" #lname="ngModel"
                required minlength="2" pattern="^[a-öA-Ö]*$">
            <mat-error *ngIf="lname.hasError('required')">Enter your last name</mat-error>
            <mat-error *ngIf="lname.hasError('minlength')">Minimum 2 characters required</mat-error>
            <mat-error *ngIf="lname.hasError('pattern')">Must be valid last name</mat-error>
        </mat-form-field>
        <p></p>
        <!--Person id-->
        <mat-form-field>
            <input matInput placeholder="Person ID" name="personID" [(ngModel)]="person.personID" #IDname="ngModel"
                required
                pattern="^(0[1-9]|[12]\d|3[01])(0[1-9]|1[0-2])([5-9]\d\+|\d\d[-U-Y]|[0-2]\d[A-F])\d{3}[\dA-Z]$">
            <mat-error *ngIf="IDname.hasError('required')">Enter your ID</mat-error>
            <mat-error *ngIf="IDname.hasError('pattern')">Must be valid ID</mat-error>
        </mat-form-field>
        <p></p>
        <!--Email-->
        <mat-form-field>
            <input matInput placeholder="Email" name="email" [(ngModel)]="person.email" #Ename="ngModel" required email>
            <mat-error *ngIf="Ename.hasError('email') && !Ename.hasError('required')">Please enter a valid email
                address</mat-error>
            <mat-error *ngIf="Ename.hasError('required')">Email is required</mat-error>
        </mat-form-field>
        <p></p>
        <!--username-->
        <mat-form-field>
            <input matInput placeholder="Username" name="userName" [(ngModel)]="person.userName" #uname="ngModel"
                required minlength="6">
            <mat-error *ngIf="uname.hasError('required')">Enter your username</mat-error>
            <mat-error *ngIf="uname.hasError('minlength')">Minimum 6 characters required</mat-error>
        </mat-form-field>
        <p></p>
        <!--Password-->
        <mat-form-field>
            <input matInput placeholder="Password" name="password1" [(ngModel)]="person.password1" #pswd="ngModel"
                required minlength="10" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$">
            <mat-error *ngIf="pswd.hasError('required')">Enter your password</mat-error>
            <mat-error *ngIf="pswd.hasError('minlength')">Minimum 10 characters required</mat-error>
            <mat-error *ngIf="pswd.hasError('pattern')">Numbers and uppercase letter required</mat-error>
        </mat-form-field>
        <p></p>
        <!--Confirm password-->
        <mat-form-field>
            <input matInput placeholder="Confirm password" name="password2" [(ngModel)]="person.password2"
                #password2="ngModel" required pattern="{{pswd.value}}">
            <mat-error *ngIf="password2.hasError('required')">Confirm your password</mat-error>
            <mat-error *ngIf="password2.hasError('pattern')">Must be same password</mat-error>
        </mat-form-field>
        <!--Checkbox-->
        <p>Accept terms and conditions</p>
        <input type="checkbox" name="checkbox" [(ngModel)]="checkbox" #checkboxField="ngModel"required>
        <mat-error *ngIf="checkboxField.hasError('required')">Please confirm checkbox</mat-error>
        <p></p>
        <!-- Submit Button -->
        <button mat-flat-button color="primary" type="submit" [disabled]="forms1.invalid">Submit</button>
      </form>
    </div>
